*{
    box-sizing: border-box;
}
body{
    background-color: #FFD2FF;
    text-align: center;
}
h1{
    color: #4CAF50;
}
B{
    color: cornflowerblue;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 3px;
}